header{
    text-align: center;
    background-color: dimgrey;
    border-radius: 25px;
}
.questoes{
   
}
.alternativas{
   
}

.dissertativas{
    background-color: cyan;
    text-align: center;
    image-rendering: auto;
}

.dis{
    height: 150px;
    width: 170px;
}
.titulo{
    text-align: center;
    align-items: center;
}
